.overview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}
.overviewtop{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
}
@media (max-width: 800px) {
    .overviewtop{
        flex-direction: column;
        gap: 10px;
    }
}