.footer{
    position: relative;
    bottom: 0;
    /* width: 100%; */
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #212121;

}
.footercontainer{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footcols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerend{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}